<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4"><h2 class="title section">Noisify</h2></div>
		<div class="col-xs-12 col-sm-4">
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>
				Combining data science with music, you can now see how your preferences are tracked by cross referencing how similar your music library is to Spotify's personalized recommendations. The goal of the project is to better understand how Spotify generates its recommendations and how to potentially improve them.<br />
				<br />
				Log in to Spotify through Noisify to analyze your own music preferences or browse other music to look at how it matches up against your own library. Noisify requires that you log in to utilize Spotify's API but will never save your library or recent history in a database.
			</p>
		</div>
	</div>
</div>