<div class="container">
	<div class="row">
		<div class="col-xs-12"><h2 class="title section">Spotify by the Numbers</h2></div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>
				Combining music with data science, this platform provides the infrastructure to better understand how Spotify classifies and recommends music. You can now see how your preferences are tracked by cross referencing how similar your music library is to Spotify's personalized recommendations for you.<br />
				<br />
				Log in to Spotify through this platform to analyze your own music preferences or browse other music to look at how it matches up against your own library. The platform requires that you log in to utilize Spotify's API but never saves your library or recent history in a database.
			</p>
		</div>
	</div>
</div>
