<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4"><h2 class="title section">Noisify</h2></div>
		<div class="col-xs-12 col-sm-4">
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>
				Noisify is an attempt to understand how Spotify tracks its users on a broad scale. The first step is understanding how Spotify makes its money. Spotify's business model is an advertising platform (discluding subscription services); this makes your music preferences free currency for Spotify to trade with advertisers for targeted advertisements.<br />
				<br />
				With the recent repeal of Net Neutrality, Spotify likely has already cut deals with the biggest Internet Service Providers to ensure that their content is delivered at the fastest bandwidth available. Spotify now has to increase its gross income to compensate for these trade deals. Now they're in a predicament because they need to increase their income without losing users. How can they achieve this? Raising subscription fees or increasing advertisement frequency would definitely affect their user base; the natural conclusion is therefore to enhance their advertising services (more targeted ads). Advertisers now know every detail about your music preferences, listening habits, and even personal information. Spotify details in the link below what information about you is valuable and currently being sold.<br />
				<br />
				<a href="https://spotifyforbrands.com/us/targeting/" target="_blank">Spotify Targeting</a><br />
				<br />
				The best way to shield yourself from being targeted is to know what they know. That's where Noisify comes in. Combining data science with music, you can now see how your preferences are tracked by cross referencing how similar your music library is to Spotify's personalized recommendations. Log in to Spotify through Noisify to see analyze your own music preferences or browse other music you to look at how it matches up against your own library. Noisify requires you to log in to access any portion of Spotify's API, however, it does not save or cache any of your own music on the site.<br />
				<br />
			</p>
		</div>
	</div>
</div>