<nav class="navbar navbar-inverse sidebar mdc-elevation--z4" role="navigation" ng-controller="Sidebar">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand sidebar-link" href="/login" target="_self">Login</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div id="sidebar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav sidebar-nav">
				<li id="sidebar-browse"><a class="sidebar-link" href="/browse">Browse</a></li>
				<li id="sidebar-library">
					<a class="sidebar-link" href="#" class="active subtitle" data-toggle="collapse" data-target="#library">Your Music</a>
					<ul id="library" class="collapse">	
						<li>
							<a class="sidebar-link sidebar-dropdown-menu" href="/library/playlists">Playlists</a>
						</li>
						<li style="margin-top:5px;">
							<a class="sidebar-link sidebar-dropdown-menu" href="/library/savedalbums">Saved Albums</a>
						</li>
						<li style="margin-top:5px;">
							<a class="sidebar-link sidebar-dropdown-menu" href="/library/savedtracks">Saved Tracks</a>
						</li>
						<li style="margin-top:5px;">
							<a class="sidebar-link sidebar-dropdown-menu" href="/library/recentlyplayed">Recently Played</a>
						</li>
					</ul>
				</li>
				<li id="sidebar-search"><a class="sidebar-link" href="/search">Search</a></li>
				<li id="sidebar-logout"><a class="sidebar-link" href="#" ng-click="loggedOutSidebar()">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>