<!doctype html>
<html>
	<head>
		<!-- Tags -->
			<title>Spotify Server</title>
			<base href="/">
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts -->
		
			<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
		<!-- Bootstrap + JQuery CDN -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Angular CDN -->
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
		<!-- Easing.js Library -->

			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		<!-- Controllers -->
			<script src="scripts/app.js"></script>
			<script src="scripts/home.js"></script>
		<!-- Stylesheets -->

			<link href="css/main.css" rel="stylesheet" />
		<!-- Libraries -->
			<script src="https://d3js.org/d3.v4.min.js"></script>
			<script src="https://d3js.org/d3-path.v1.min.js"></script>
			<script src="https://d3js.org/d3-shape.v1.min.js"></script>
	</head>
	<body ng-app="MyApp" ng-controller="HomeCtrl">
		<div class="container" id="content">
			<!-- Spotify Tokens -->
				<h1 id="at" style="display:none"><%= access_token %></h1>
				<h1 id="rt" style="display:none"><%= refresh_token %></h1>

			<div class="row section">
				<div class="col-sm-12">
					<h1>Spotify Server</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="row section" data-toggle="collapse" class="active" data-target="#library">
						<h2 class="title">Library</h2>
					</div>
					<div id="library" class="collapse">
						<div class="row section"  data-toggle="collapse" class="active" data-target="#saved-tracks" ng-click="onSavedTracksClick()">
							<h2 class="title">Saved Tracks</h2>
						</div>
						<div id="saved-tracks" class="collapse">
							<div class="row">
								<div id="saved-tracks-overview-title" data-toggle="collapse" class="active" data-target="#saved-tracks-overview">
									<h3 class="section title">Overview</h3>
								</div>
								<div id="saved-tracks-overview" class="collapse">
									<div class="col-sm-12">
										<div>
											<h4 class="section">Average Features</h4>
										</div>
										<ul>
											<li class="section" ng-repeat="(key, value) in savedTracks.overview.avgFeatures">{{key}}: {{value}}</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div id="saved-tracks-features-title" data-toggle="collapse" class="active" data-target="#saved-tracks-features" ng-click="onFeaturesModelClick('saved tracks')">
									<h3 class="section title">Features</h3>
								</div>
								<div id="saved-tracks-features" class="collapse section">
									<div >
										<div>Should saved tracks be used to train or test the model?</div>
										<input type="button" value="Train" ng-click="onFeaturesModelButtonClick('saved tracks', 'train')"/>
										<input type="button" value="Test" ng-click="onFeaturesModelButtonClick('saved tracks', 'test')"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div id="saved-tracks-tracks-title" data-toggle="collapse" class="active" data-target="#saved-tracks-tracks-tracks">
									<h3 class="section title">Tracks</h3>
								</div>
								<div id="saved-tracks-tracks-tracks" class="collapse">
									<ul class="nav nav-list list-group row">
										<li class="list-group-item col-sm-6 col-md-6 col-lg-6" ng-repeat="track in savedTracks.tracks">
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-6">
													<h4>{{track.name}}</h4>
													<h5 ng-repeat="artist in track.artists">{{artist.name}}</h5>
												</div>
												<div class="col-sm-6 col-md-6 col-lg-6">
													<h5>Primary Genres</h5>
													<ul class="list-group row">
														<li class="col-sm-6 col-md-6 col-lg-6" ng-repeat="genre in track.genres.primaryGenres"><h6>{{genre.music_genre_name}}</h6></li>
													</ul>
													<h5>Secondary Genres</h5>
													<ul class="list-group row">
														<li class="col-sm-6 col-md-6 col-lg-6" ng-repeat="genre in track.genres.secondaryGenres"><h6>{{genre.music_genre_name}}</h6></li>
													</ul>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="row section"  data-toggle="collapse" class="active" data-target="#saved-albums" ng-click="onSavedAlbumsClick()">
							<h2 class="title">Saved Albums</h2>
						</div>
						<div id="saved-albums" class="collapse">
							<div class="row">
								<div id="saved-albums-overview-title" data-toggle="collapse" class="active" data-target="#saved-albums-overview">
									<h3 class="section title">Overview</h3>
								</div>
								<div id="saved-albums-overview" class="collapse">
									<div class="col-sm-12">
										<div>
											<h4 class="section">Average Features</h4>
										</div>
										<ul>
											<li class="section" ng-repeat="(key, value) in savedAlbums.overview.avgFeatures">{{key}}: {{value}}</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div id="saved-albums-features-title" data-toggle="collapse" class="active" data-target="#saved-albums-features" ng-click="onFeaturesModelClick('saved albums')">
									<h3 class="section title">Features</h3>
								</div>
								<div id="saved-albums-features" class="collapse section">
									<div>
										<div>Should saved albums be used to train or test the model?</div>
										<input type="button" value="Train" ng-click="onFeaturesModelButtonClick('saved albums', 'train')"/>
										<input type="button" value="Test" ng-click="onFeaturesModelButtonClick('saved albums', 'test')"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div id="saved-albums-albums-title" data-toggle="collapse" class="active" data-target="#saved-albums-albums-albums">
									<h3 class="section title">Albums</h3>
								</div>
								<div id="saved-albums-albums-albums" class="collapse">
									<ul class="nav nav-list list-group row">
										<li class="list-group-item col-sm-6" ng-repeat="album in savedAlbums.albums">
											<div class="row section">
												<div class="col-sm-12">
													<h4>{{album.name}}</h4>
													<h5 ng-repeat="artist in album.artists">{{artist.name}}</h5>
												</div>
												<hr>
												<div class="col-sm-12">
													<h5 ng-repeat="track in album.tracks.items">{{track.name}}</h5>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="row section"  data-toggle="collapse" class="active" data-target="#playlists">
							<h2 class="title">Playlists</h2>
						</div>
						<div id="playlists" class="collapse">
							<div class="row" ng-repeat="playlist in playlists">
								<div id="{{playlist.name}}" data-toggle="collapse" class="active" data-target="#{{playlist.id}}-sections" ng-click="onPlaylistClick(playlist.id)">
									<h2 class="title">{{playlist.name}}</h2>
								</div>
								<div id="{{playlist.id}}-sections" class="collapse">
									<div class="row">
										<div id="{{playlist.name}}-overview" data-toggle="collapse" class="active" data-target="#{{playlist.id}}-overview">
											<h3 class="section title">Overview</h3>
										</div>
										<div id="{{playlist.id}}-overview" class="collapse">
											<div class="col-sm-6">
												<div>
													<h4 class="section">Primary Genres</h4>
												</div>
												<ul>
													<li class="section" ng-repeat="genre in playlist.overview.genres.primaryHistogram">{{genre.label}}: {{genre.count}}</li>
												</ul>
												<div id="chart-1-{{playlist.id}}"></div>
											</div>
											<div class="col-sm-6">
												<div>
													<h4 class="section">Secondary Genres</h4>
												</div>
												<ul>
													<li class="section" ng-repeat="genre in playlist.overview.genres.secondaryHistogram">{{genre.label}}: {{genre.count}}</li>
												</ul>
												<div id="chart-2-{{playlist.id}}"></div>
											</div>
											<div class="col-sm-12">
												<div>
													<h4 class="section">Average Features</h4>
												</div>
												<ul>
													<li class="section" ng-repeat="(key, value) in playlist.overview.avgFeatures">{{key}}: {{value}}</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="row">
										<div id="{{playlist.name}}-features" data-toggle="collapse" class="active" data-target="#{{playlist.id}}-features" ng-click="onFeaturesModelClick(playlist.id)">
											<h3 class="section title">Features</h3>
										</div>
										<div id="{{playlist.id}}-features" class="collapse section">
											<div>
												<div>Should this playlist be used to train or test the model?</div>
												<input type="button" value="Train" ng-click="onFeaturesModelButtonClick(playlist.id, 'train')"/>
												<input type="button" value="Test" ng-click="onFeaturesModelButtonClick(playlist.id, 'test')"/>
											</div>
										</div>
									</div>
									<div class="row">
										<div id="{{playlist.name}}-tracks" data-toggle="collapse" class="active" data-target="#{{playlist.id}}-tracks">
											<h3 class="section title">Tracks</h3>
										</div>
										<div id="{{playlist.id}}-tracks" class="collapse">
											<ul class="nav nav-list list-group row">
												<li class="list-group-item col-sm-6 col-md-6 col-lg-6" ng-repeat="track in tracklists[playlist.id]">
													<div class="row">
														<div class="col-sm-6 col-md-6 col-lg-6">
															<h4>{{track.name}}</h4>
															<h5 ng-repeat="artist in track.artists">{{artist.name}}</h5>
														</div>
														<div class="col-sm-6 col-md-6 col-lg-6">
															<h5>Primary Genres</h5>
															<ul class="list-group row">
																<li class="col-sm-6 col-md-6 col-lg-6" ng-repeat="genre in track.genres.primaryGenres"><h6>{{genre.music_genre_name}}</h6></li>
															</ul>
															<h5>Secondary Genres</h5>
															<ul class="list-group row">
																<li class="col-sm-6 col-md-6 col-lg-6" ng-repeat="genre in track.genres.secondaryGenres"><h6>{{genre.music_genre_name}}</h6></li>
															</ul>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="row section"  data-toggle="collapse" class="active" data-target="#recenttracks" ng-click="onRecentTracksClick()">
						<h2 class="title">Recent Tracks</h2>
					</div>
					<div id="recenttracks" class="collapse">
						<ul>
							<li ng-repeat="track in recentTracks">
								<h4>{{track.name}}</h4>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="row section" data-toggle="collapse" class="active" data-target="#search">
						<h2 class="title">Search</h2>
					</div>
				</div>
				<div id="search" class="collapse">
					<div id="search-results">
						<div class="col-sm-12 section">
							<select id="search-select">
								<option value="track,album,artist,playlist">All</option>
								<option value="track">Track</option>
								<option value="album">Album</option>
								<option value="artist">Artist</option>
								<option value="playlist">Playlist</option>
							</select>
							<form>
								<input id="search-input">
								<input type="submit"  ng-click="onSearchClick()">
							</form>
						</div>
						<div id="search-tracks" class="col-sm-12">
							<div class="section">
								<h3>Tracks</h3>
							</div>
							<ul>
								<li class="title" ng-repeat="track in searchResults.tracks" ng-click="onSearchItemClick('tracks', this)">{{track.name}}</li>
							</ul>
						</div>
						<div id="search-albums" class="col-sm-12">
							<div class="section">
								<h3>Albums</h3>
							</div>
							<ul>
								<li class="title" ng-repeat="album in searchResults.albums" ng-click="onSearchItemClick('albums', this)">{{album.name}}</li>
							</ul>
						</div>
						<div id="search-artists" class="col-sm-12">
							<div class="section">
								<h3>Artists</h3>
							</div>
							<ul>
								<li class="title" ng-repeat="artist in searchResults.artists" ng-click="onSearchItemClick('artists', this)">{{artist.name}}</li>
							</ul>
						</div>
						<div id="search-playlists" class="col-sm-12">
							<div class="section">
								<h3>Playlists</h3>
							</div>
							<ul>
								<li class="title" ng-repeat="playlist in searchResults.playlists" ng-click="onSearchItemClick('playlists', this)">{{playlist.name}}</li>
							</ul>
						</div>
					</div>
					<div id="search-item" class="section">
						<h3><br />{{searchItem.name}}</h3>
						<div id="search-item-track">
							<h4 ng-repeat="artist in searchItem.artists">{{artist.name}}</h4>
							<h4 ng-repeat="genre in searchItem.genres.primaryGenres">{{genre.music_genre_name}}</h4>
							<div class="section">
								<input type="button" value="Plot Track" ng-click="onPlotTrackClick([searchItem.danceability,searchItem.energy,searchItem.loudness,searchItem.speechiness,searchItem.acousticness,searchItem.instrumentalness,searchItem.liveness,searchItem.valence,searchItem.tempo,searchItem.time_signature,searchItem.popularity])"/>
							</div>

							<br />
							<h4>Danceability: {{searchItem.danceability}}</h4>
							<h4>Energy: {{searchItem.energy}}</h4>
							<h4>Key: {{searchItem.key}}</h4>
							<h4>Loudness: {{searchItem.loudness}}</h4>
							<h4>Mode: {{searchItem.mode}}</h4>
							<h4>Speechiness: {{searchItem.speechiness}}</h4>
							<h4>Acousticness: {{searchItem.acousticness}}</h4>
							<h4>Instrumentalness: {{searchItem.instrumentalness}}</h4>
							<h4>Liveness: {{searchItem.liveness}}</h4>
							<h4>Valence: {{searchItem.valence}}</h4>
							<h4>Tempo: {{searchItem.tempo}}</h4>
							<h4>Duration: {{searchItem.duration_ms}}</h4>
							<h4>Time Signature: {{searchItem.time_signature}}</h4>
							<h4>{{searchItem.lyrics}}</h4>
						</div>
						<div id="search-item-artist">
							<h4>Related Artists:</h4>
							<h4 ng-repeat="artist in searchItem.relatedArtists">{{artist.name}}</h4>
						</div>
						<div id="search-item-album">
							<h4>Tracks:</h4>
							<h4 ng-repeat="track in searchItem.tracks.items">{{track.name}}</h4>
						</div>
						<div id="search-item-playlist">
						</div>
						<div id="search-item-return">
							<svg id="arrow" fill="#222222" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h24v24H0z" fill="none"/>
								<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
							</svg>
							<a id="rel" class="title">Return</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row" >
				<div class="col-sm-12">
					<div class="row section" data-toggle="collapse" class="active" data-target="#user-model" ng-click="onUserModelClick()">
						<h2 class="title">User Model</h2>
					</div>
					<div id="user-model" class="collapse">
						<div class="spinner" class="section">
							<div class="rect1"></div>
							<div class="rect2"></div>
							<div class="rect3"></div>
							<div class="rect4"></div>
							<div class="rect5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
