<div class="row">
	<div class="col-xs-12 section"><h2 style="margin-bottom:0px!important;">{{currentObject.name}}</h2></div>
</div>
<div class="row">
	<div class="col-xs-12 section" style="color:#ccc"><h4><a class="plain-link" href="/artist/{{artist.id}}" ng-repeat="artist in currentObject.artists"><span style="display: inline-block; margin-right: 12px; font-weight: 400">{{artist.name}}</span></a></h4></div>
</div>
<div class="row">
	<div id="track-audio-features" class="col-xs-12 col-sm-6 col-sm-offset-3">
		<!--<h2 class="section" style="margin-top:0px;padding-top:0px;">Audio Features</h2>-->
		<div class="radarChart"></div>
	</div>
</div>